<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/
bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="guestbook.css">
</head>
<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			       <ul class="nav navbar-nav">
			        	<li ><a href="Home.html">Home <span class="sr-only">(current)</span></a></li>
			        	<li ><a href="Store.html">AppleStore</a></li>
			        	<li ><a href="aboutme.html">AboutMe</a></li>
			        	<li ><a href="Contact.html">Contact</a></li>
						<li ><a href="/">Guestbook</a></li>
			       
		         	</ul>
			    </div><!-- /.navbar-collapse -->